<div class="panel panel-default">
    <div class="panel-heading"><span class="lead">Java SE</span></div>
    <div class="tablecontainer">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="inscrito in java.inscritos">
                <td>{{inscrito.nombre}}</td>
                <td>{{inscrito.apellido}}</td>
                <!--<td><a ui-sref="main.java.detail({id: inscrito.id})">Editar</a></td>-->
                <td><a href="" ng-click="java.goDetails(inscrito.id)">Editar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ui-view></div>
