<div ng-controller="ControllerA as a">
    <button ng-click="a.enviarMensaje()">Enviar Mensaje</button>
{{a.propiedad}}
    <div ng-controller="ControllerB as b">
        {{b.propiedad}}
        <div ng-controller="ControllerC as c">
            {{c.propiedad}}
        </div>
    </div>
</div>
