<uib-accordion close-others="true">
  <uib-accordion-group heading="Detalles Inscrito"
                       is-open="true"
                       is-disabled="false">
    <div cg-busy="javaDetail.promise" style="overflow-y:auto; overflow-x: hidden">
      <form name="formEdit" class="form-horizontal" novalidate>
        <div class="form-group" ng-class="{'has-error': formEdit.nombre.$invalid && !formEdit.nombre.$pristine}">
          <label class="col-sm-2 control-label">Nombre</label>

          <div class="col-sm-10">
            <input name="nombre"
                   type="text"
                   class="form-control"
                   ng-model="javaDetail.selected.nombre"
                   ng-change="javaDetail.onChangeName(javaDetail.selected.nombre)"
                   ng-minlength="5"
                   ng-maxlength="10"
                   required>
            <span class="help-block"
                  ng-show="formEdit.nombre.$invalid && !formEdit.nombre.$error.minlength && !formEdit.nombre.$error.maxlength && !formEdit.nombre.$pristine">El nombre es requerido
            </span>
            <span class="help-block"
                  ng-show="formEdit.nombre.$error.minlength && !formEdit.nombre.$pristine">El nombre es muy corto
            </span>
            <span class="help-block"
                  ng-show="formEdit.nombre.$error.maxlength && !formEdit.nombre.$pristine">El nombre es muy largo
            </span>

          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formEdit.apellido.$invalid && !formEdit.apellido.$pristine}">
          <label class="col-sm-2 control-label">Apellido</label>

          <div class="col-sm-10">
            <input name="apellido"
                   type="text"
                   class="form-control"
                   ng-model="javaDetail.selected.apellido"
                   ng-minlength="5"
                   ng-maxlength="10"
                   required>
            <span class="help-block"
                    ng-show="formEdit.apellido.$invalid &&
                    !formEdit.apellido.$error.minlength &&
                    !formEdit.apellido.$error.maxlength &&
                    !formEdit.apellido.$pristine">El apellido es requerido
            </span>
            <span class="help-block"
                  ng-show="formEdit.apellido.$error.minlength &&
                  !formEdit.apellido.$pristine">El apellido es muy corto
            </span>
            <span class="help-block"
                  ng-show="formEdit.apellido.$error.maxlength &&
                  !formEdit.apellido.$pristine">El apellido es muy largo
            </span>
          </div>
        </div>
        <div class="form-group" ng-class="{'has-error': formEdit.fecha.$invalid && !formEdit.fecha.$pristine}">
          <label class="col-sm-2 control-label">Fecha de Nacimiento</label>

          <div class="col-sm-3">
            <p class="input-group">
              <input name="fecha"
                     type="text"
                     class="form-control"
                     uib-datepicker-popup
                     ng-model="javaDetail.selected.fecha"
                     is-open="javaDetail.isDateOpened"
                     ng-required="true" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="javaDetail.openDateSelector()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
              <span class="help-block"
                    ng-show="formEdit.fecha.$invalid">La fecha es requerida
            </span>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="formEdit.$invalid"
                    ng-click="javaDetail.saveChanges()"
                    uib-tooltip="Esto actualizara los detalles"
                    tooltip-placement="top"
                    tooltip-trigger="mouseenter"
                    tooltip-enable="true"
                    class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
    <!--<div ng-include="'app/main/java-detail/anidado/anidado.html'"></div>-->
    <!--<ng-include src="'ruta/archivo.html'">-->
    <!---->
    <!--</ng-include>-->

  </uib-accordion-group>
</uib-accordion>




















